.white {
    color: #fff;
}

.amazonite {
    color: #f1c40f;
}

.black {
    color: #32322C;
}

.white-bg {
    background-color: #fff;
}

.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ms-tableCell {
    background-color: rgba(0,0,0,0.2);
}

.ms-static-title {
    padding-left: 80px;
    padding-right: 80px;
}

.ms-static-title a {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.ms-static-title h1 {
    font-family: "Raleway",Arial,Helvetica,sans-serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 46px;
    text-transform: uppercase;
}

.ms-static-title h3 {
    margin-top: 10px;
}

.ms-static-title h3 > span {
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 15px;
    padding: 5px;
    padding-left: 5px;
    text-transform: uppercase;
}

/********************************************************/
.social-buttons {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-button {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  border-radius: 28%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:before {
  content: '';
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
  font-size: 38px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.facebook:before {
  background-color: #3B5998;
}
.social-button.facebook .fa {
  color: #3B5998;
}
.social-button.twitter:before {
  background-color: #3CF;
}
.social-button.twitter .fa {
  color: #3CF;
}
.social-button.google:before {
  background-color: #DC4A38;
}
.social-button.google .fa {
  color: #DC4A38;
}
.social-button.github:before {
  background-color: #333;
}
.social-button.github .fa {
  color: #333;
}
.social-button.linkedin:before {
  background-color: #007bb6;
}
.social-button.linkedin .fa {
  color: #007bb6;
}
.social-button:focus:before, .social-button:hover:before {
  top: -10%;
  left: -10%;
}
.social-button:focus .fa, .social-button:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*******************************************************/
.me {
    display:block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio {
    display:block;
    height: 192px;
    margin-right: auto;
}
