<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        <div data-date="August 2016 – August 2017">
            <h3>Newgen Software Technologies</h3>
            <h4>Software Engineer</h4>
            <p>
                <ol>
                    <li>
                        <a href="http://www.newgensoft.com/">Newgen Software</a> is a global provider of content and
                        communication management solutions
                    </li>
                    <li>
                        <b>Technologies :</b> Android, jQuery UI, Bootstrap
                    </li>
                    <li>
                        Worked on enterprise grade mobile capture application for <a
                            href="http://www.indusind.com/">IndusInd Bank Limited</a> which resulted into
                        <u><b>reduced TAT</b></u> for Account Opening process from <u><b>3-4 days to 10
                                mins</b></u>.
                    </li>
                    <li> <u><b>More than 200+</b></u> digital accounts being sourced <u><b>daily</b></u> using
                        tablet.</li>
                </ol>
            </p>
        </div>
    </div>
</div>

<!-- End #experience -->