<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    {% for company in site.data.experience %}
    <div id="experience-timeline">
        <div data-date="August 2016 – August 2017">
            <h3>{{ company.name }}</h3>
            <h4>{{ company.designation }}</h4>
            <p>
                <ol>
                    {% for description in company.descriptions %}
                    <li>
                        {{ description }}
                    </li>
                    {% endfor %}
                </ol>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<!-- End #experience -->