<div id="projects" class="background-alt">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="images/warehouse.jpg" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Warehouse Management System</h3>
                    <p>
                        The theme design represents a simplified warehouse having 12 pick-up points where packages
                        arrive. We use different colored blocks to represent three types of packages. There are five
                        deposition zones, each designated for deposition of a particular type of package. The robot
                        has to visit each pick-up point and if there is a package pick up the package. The robot
                        detects the color of the package using a color sensor provided and places it in the
                        appropriate deposition zone.
                    </p>
                    <a href="https://github.com/meanmachin3/Warehouse-Management-Using-Firebird-V" target="_blank">View
                        Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="images/mine.png" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Mine Localization</h3>
                    <p>
                        Real Time Motion planning and grid solving for a 7 x 7 grid with mines represented by basic
                        obstacles occupying a single coordinate Robot reaches the specified end position with
                        information display: the total number of mines and location of each mine on the grid.
                    </p>
                    <a href="https://github.com/meanmachin3/Mine-Localization-Robot-using-Firebird-V"
                        target="_blank">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="images/senpi.png" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>SenPi: Low cost smart solution for classrooms</h3>
                    <p>
                        Replacement of Scheduled Laptops and Work stations of College classrooms with Raspberry Pi
                        projection system
                    </p>
                    <a href="#" target="_blank">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
        </div>
    </div>
</div>
<!-- End #projects -->